<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
        .frame {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="frame">
        <div id="images-container"></div>
    </div>

    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/frame.js"></script>
</body>

</html>